@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
    /* add custom font*/
    margin: .25cm;
}


a[href^="#"] {
    color:rgb(255,0,0);
}

a:hover {
    color: #FFF;
}

.mandellaColor {
    color: #FFFFFF;
}

h2 {
    color: green;
    border-style:solid;
    border-color: blue;
    border-width: medium;
    border-radius: 1mm;
    font-size: 2rem;
    text-decoration: underline;
}

#asideText {
    color: rgba(10, 129, 240, 1);
}

legend, caption{
    font-family: 'Lato', sans-serif;
    color: hsl(32, 100%, 50%);
}

li{
    list-style-type: circle; 
}

li li {
    list-style-type: disc;
}

p > strong {
    background-color: burlywood;
}

aside ~ span {
    color: hsla(142, 100%, 50%, 0.5);
}

input + input {
    color: blueviolet;
}

summary.two.selectors {
    color: pink; 
}

div {
    background-color: lightgrey;
    width: 50%;
    min-width: 10%;
    border: 15px solid beige;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

pre {
    background-color: rgba(68, 162, 255, 0.998);
    width: 40%;
    max-width: 200%;
    height: 200px;
    border: 15px solid green;
    padding: 2px 10px 2px 10px;
    margin: 2px 10px 2px 10px;
}

code {
    background-color: rgba(164, 188, 212, 0.998);
    border: 2px solid black;
    padding: 2px 10px 2px 10px;
    margin: auto;
}

span {
    display: inline;
}

h6 {
    display: none;
    position: fixed;
}

img {
    position: static;
}

button:active { 
    background: peru; 
}

.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
 .child {
    width: 100px;  
    height: 100px; 
    padding: 5px;
    background:rgba(68, 162, 255, 0.998);
    color: black;
    margin: auto;  
 }

 .container{
     display: grid;
     grid-template-columns: 100px 100px 100px 100px 100px; 
     grid-template-rows: auto;
     column-gap: 50px;
     background:rgba(68, 162, 255, 0.998);
 }

 .item {
    justify-self: stretch;
  }

 @media screen and (max-width: 600px) {
    p {
      color: brown;
    }
 }
 
 p::selection {
    color: blue;
}